* {
    box-sizing: border-box;
    
}

body {
    background-color: whitesmoke;
}


section {
    background-color: rgb(167, 197, 255);
    color: rgb(30, 24, 114);
    border-radius: 8px;
    margin-bottom: 12px;
}

#robo{
    display: flex;
    max-width: 65%;
    
    padding: 3rem;
}

.imagem{
    max-width: 15%;
}

.imagem img{
    max-width: 100%;
}

.texto{
    padding-left: 5rem;
}

#produtos{
    display: flex;
    max-width: 65%;
    
}

.desc{
    display: flex;
}

#status{
    display: flex;
    max-width: 65%;
    flex-direction: column;
}

#pedidos{
    display: flex;
    
    max-width: 65%;
}

#msg{

}

#trans{

}

.flex{
    display: flex;
}

.coisas {
    display:flex;
    padding: 1rem;
}

.produto {

}

.produto img{
    max-width: 25%;
}

.desc {
    font-size: 8px;
    display: flex;
    padding-right: 1rem;
}

.icon img{
    max-width: 20px;
    margin-top: 17px;

}
